<p id="notice"><%= notice %></p>

<h1>All Shops <%= link_to '+', new_shop_path %></h1>

<div class="grid">
  <div class="table-header">Name</div>
  <div class="table-header">City</div>
  <div class="table-header">Subdomain</div>
  <div class="table-header">---</div>
</div>
<% @shops.each do |shop| %>
  <div class="grid row">
    <div><%= link_to shop.name, shop %></div>
    <div><%= shop.city %></div>
    <div><%= shop.subdomain %></div>
    <div>
      <%= link_to 'Go to tenant', "http://#{shop.subdomain}.lvh.me:3000" %>
      <%= link_to 'Edit', edit_shop_path(shop) %>
      <%= link_to 'Destroy', shop, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
<% end %>


