<p id="notice"><%= notice %></p>

<h1>Products <%= link_to '+', new_product_path %></h1>
<%= link_to  "API", '/api/v1/products' %>
<br>
<br>

<div class="grid-product">
  <div class="table-header">Name</div>
  <div class="table-header">---</div>
</div>

<% @products.each do |product| %>
  <div class="grid-product row">
    <div><%= link_to product.name, product %></div>
    <div>
      <%= link_to 'Edit', edit_product_path(product) %>
      <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
<% end %>
